body {
    margin: 0;
    min-height: 100vh;
    background-image: url("bb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    color: rgb(5, 244, 244);
}

/* Correct class name */
.video-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 200px; /* pushes videos down */
}

iframe {
    width: 400px;
    height: 225px;
}
